.credits--section{
    background-color: $c-bg;
    color: $c-text;
    padding-top: 40px;
    
    h1{
        margin-left: 20px;
        margin-top: 0px;
    }
    .credits__liste{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        list-style-image: url('../assets/images/svgopti/baniereV6.svg');
        &--el {
            margin-bottom: 25px;
            a{
                color: $c-colordx;
                text-decoration: none;
                padding: 5px;
                border-radius: 10px;
            }   
        }
    }
}

.body--blue{
    background-color: $c-bg;
}



/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){
    .credits--section{
        padding-top: 80px;
        padding-left: 100px;
        .credits__liste{
            width: 60%;
            &--el {
                margin-bottom: 25px;
                 
            }
        }
    }

    .credits--footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width:1000px) {

    .credits--section{
        margin: 0 0 0 200px;
    }

}

