
header div{
    background-image: url('/assets/images/svgopti/button.svg');
    background-repeat: no-repeat;
    height:102px;
    width: 186px;
    text-align: center;
}
.fond{
    padding-top: $h3mob;
    max-width: 100%;
    background-image: linear-gradient(
  0deg,
  hsl(348deg 6% 15%) 0%,
  hsl(348deg 3% 26%) 11%,
  hsl(348deg 2% 38%) 17%,
  hsl(349deg 1% 51%) 22%,
  hsl(349deg 1% 64%) 26%,
  hsl(349deg 1% 78%) 30%,
  hsl(0deg 0% 92%) 34%,
  hsl(344deg 0% 92%) 37%,
  hsl(344deg 0% 92%) 41%,
  hsl(344deg 0% 92%) 45%,
  hsl(344deg 0% 92%) 48%,
  hsl(344deg 0% 92%) 51%,
  hsl(0deg 0% 92%) 55%,
  hsl(344deg 0% 92%) 58%,
  hsl(344deg 0% 92%) 61%,
  hsl(344deg 0% 92%) 65%,
  hsl(344deg 0% 92%) 68%,
  hsl(344deg 0% 92%) 71%,
  hsl(0deg 0% 92%) 74%,
  hsl(349deg 1% 78%) 78%,
  hsl(349deg 1% 64%) 81%,
  hsl(349deg 1% 51%) 85%,
  hsl(348deg 2% 38%) 89%,
  hsl(348deg 3% 26%) 93%,
  hsl(348deg 6% 15%) 100%
);
}

#livreFermer{
    opacity: 0;
}

.text{
    margin: 0 $txtmob ;
    color: $c-bg;

    a{
        color: $c-colordx;
        text-decoration: none;
       
    }
    a:visited{
        color: $c-colorun;
        border-bottom: solid 1px $c-colorun;
    }

}

.contenu__commun{
    margin-bottom: 72px;
}

.livre{
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    justify-content: center;
    margin-bottom: 0;
    margin-top: -10px;
   width: 100%;
    &__clic{
        height: 200px;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        max-width: 100%;

        img{
            height:100%;
        }
    }
    &__clic--voiture{
        transform: rotate(-11.25deg);
        margin-left: 19.2px;
    }
    &__clic--arbre{
        transform: rotate(11.25deg);
        margin-right: 19.3px;
    }
}

.projet{
    margin-bottom: $h1mob;
    height: 630px;;
}

.illu{
    position: absolute;
    justify-self: center;

    &__text{
        margin-bottom: $h3mob;
    }
    
}


.slider{

    &--hidden{
        display: none;
        visibility: hidden;
    }

   
}

