.contenu__commun--stage{
    color: $c-text;
    
}

.btn{
    list-style-type: none;
    display: flex;
    button{
        background-color: transparent;
        border: 0;

    }

    img{
        height: 100px;
    }
}