body {
  font-family: "Nunito", sans-serif;
  font-size: $txtmob;
  line-height: 1.4;
  color: $c-text;
  background-color: $c-bg;
  margin: 0;
  padding: 0;
 
}
.hidden{
  display: none;
}

.titre{
  font-family: "Solway", serif;
  margin-bottom: $txtmob;
  margin-top: 0;
  text-align: center;
  
  &--color{
    color: $c-text;
  }

  &--h1{
    font-size: $h1mob;
    max-width: 90%;
    margin-bottom: $h1mob;
  }

  &--h2{
    font-size: $h2mob;
  }

  &--h3{
    font-size: $h3mob;
  }

}

a{

  font-family: "Solway", serif;
  color: $c-colorun;
  text-decoration: none;
  font-weight: 600;

  
}

/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */

@media only screen and (min-width:631px){

  body {
    font-size: $txttab;
  }

  .titre{
    margin-bottom: $txttab;

    &--color{
      color: $c-bg;
    }
  
    &--h1{
      font-size: $h1tab;
      margin-bottom: $h1tab;
    }
  
    &--h2{
      font-size: $h2tab;
    }
  
    &--h3{
      font-size: $h3tab;
    }
  
  }
    
}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px){
  body {
    font-size: $txtpc;
  }

  .titre{
    margin-bottom: $txtpc;

    &--color{
      color: $c-bg;
    }
  
    &--h1{
      font-size: $h1pc;
      margin-bottom: 113px;
    }
  
    &--h2{
      font-size: $h2pc;
    }
  
    &--h3{
      font-size: $h3pc;
    }
  
  }
  

}