body {
  font-family: "Nunito", sans-serif;
  font-size: $txtmob;
  line-height: 1.4;
  color: $c-text;
  background-color: $c-bg;
  margin: 0;
  padding: 0;
 
}

.titre{
  font-family: "Solway", serif;
  margin-bottom: $txtmob;
  margin-top: 0;
  text-align: center;
  
  &--color{
    color: $c-text;
  }

  &--h1{
    font-size: $h1mob;
    max-width: 90%;
    margin-bottom: $h1mob;
  }

  &--h2{
    font-size: $h2mob;
  }

  &--h3{
    font-size: $h3mob;
  }

}




