$c-bg: #292425;
$c-colorun: #025629;
$c-colordx: #39AA3D;
$c-text: #EBEBEB;

$h1mob: 72px;
$h2mob: 51px;
$h3mob: 36px;
$txtmob: 18px;

$h1tab: 18px;
$h2tab: 18px;
$h3tab: 18px;
$txttab: 20px;

$h1pc: 62px;
$h2pc: 44px;
$h3pc: 31px;
$txtpc: 22px;
